<div class="container confirm-title">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-1">
			<h1 class="confirm-h1">{{pro.name}}</h1>
		</div>
		<div class="col-lg-6 text-center clearfix">
			<div class="sprite sprite-cation1 fn-right"></div>
		</div>
	</div>
</div>
<div class="container confirm-box">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="confirm-form-box">
				<form class="qmcz-form">
					<div class="control-group confirm-line">
						<label class="control-label">支持金额：</label>
						<div class="controls">
							<div class="control clearfix">
								<span class="col-red">￥{{pro.rprice}}</span>
								<a class="fn-right" href="#/orderotherpro/{{pro.id}}" title="">选择其他支持项目>></a>
							</div>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">支持回报：</label>
						<div class="controls">
							<div class="control">
								<p class="words">{{pro.rdesc}}</p>
								<p class="tips"><span>预计回报发放时间：</span>项目成功结束后5天内</p>
							</div>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">备注：</label>
						<div class="controls">
							<div class="control">
								<textarea name="desc">说点什么吧，可以给项目发起者一些小小的鼓励哦～～</textarea>
							</div>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">联系方式：</label>
						<div class="controls">
							<div class="control tel-box">
								<input name="name" placeholder="您的称呼" class="user-name">
								<span>{{pro.phone}}</span>
								<span class="tel-intro">（手机号码用于接收回报奖品，客服将根据此手机号与您联系，请确认无误！）</span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="confirm-btn-info">
				<h2>风险说明</h2>
				<p>1、众筹成功后，如果出现项目方回报无法发放的情况，您需要直接和项目发起人协商解决退款事宜，平台没有帮您追讨资金的义务。</p>
				<p>2、支持纯抽奖档位一旦您支付成功将不予退款，项目募集失败的除外；支持无私奉献档位，项目一旦募集成功将不予退款。</p> 
				<p>3、全民共进只提供平台服务，回报由项目发起人为您提供并负责发货，同时项目发起人有为您开具发票的法定义务。</p>
				<h2>特别说明</h2>
				<p>系统会自动对超出限额的订单进行全额退款，对您造成的不变，深表歉意！</p>
				<div class="btn btn-topay" style="margin-top: 40px;">确认支持</div>
				<input type="hidden" name="id" value="{{pro.id}}">
				<input type="hidden" name="rprice" value="{{pro.rprice}}">
			</div>
		</div>
	</div>
</div>