##_.each(projinfo.splist,function(item,index){##
<div class="support-item-box">
	<div class="item-title clearfix">
		<div class="fn-left">支持￥{{item.price}}</div>
		<div class="fn-right"><span>{{item.ynum}}人支持者</span>，##if(item.num == 0){##不限名额##}else{##限{{item.num}}位##}##</div>
	</div>
	<div class="item-body">
		<div class="item-info-hi">感谢您的支持，您将获得：</div>
		<div class="item-info-words">{{item.desc}}</div>
		<div class="item-info-hi">预计回报发放时间：<span>项目成功结束后5天内</span></div>
		##if(projinfo.rday <= 0){##
		<a href="javascript:;" class="item-support-item disabled">已结束</a>
		##}else{##
		<a href="#/orderconfirm/{{projinfo.id}}/spid{{item.spid}}" class="item-support-item">支持￥{{item.price}}</a>
		##}##
	</div>
</div>
##})##
<div class="support-item-box caution">
	<div class="item-title clearfix">
		<div class="fn-left">关于支持与退款</div>
	</div>
	<div class="item-body">
		<div class="item-info-words">
			<p>该项目必须在<span class="red-words">{{projinfo.onlinetime}}</span>点前完成<span class="red-words">¥{{projinfo.totalprice}}</span>才算成功，否则订单将取消。</p>
			<p>订单取消后，您的支持金额，将从你支付的储蓄卡或信用卡原路退回。</p>
		</div>
	</div>
</div>