<div class="container detail-maininfo-box"></div>
<div class="container detail-nav-box">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<ul class="clearfix">
				<li class="active" data-index="0">项目介绍</li>
				<li data-index="1">发展历程</li>
				<li data-index="2">圈子交流</li>
			</ul>
		</div>
	</div>
</div>
<div class="container detail-stepsinfo-box">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
				<div class="col-lg-8 stepsinfo-left"></div>
				<div class="col-lg-4 stepsinfo-right"></div>
			</div>
		</div>
	</div>
</div>