<div class="container mailresult-group">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="mailstatus-box">
				<h1 class="title">
					<a href="#/memain" title="">个人中心</a>
					<span>></span>
					<span>邮箱认证</span>
				</h1>
				<section class="status-sec">
					<p class="line-span">
						<span class="sprite sprite-status"></span>
						<span class="span-active">验证成功！</span>
						<span>（<span class="count-min">6</span>）秒后跳回之前的页面</span>
					</p>
					<p class="line-a">
						<a href="#/memain" title="">返回个人中心</a>
					</p>
				</section>
			</div>
		</div>
	</div>
</div>