<form id="changepwd-group" class="qmcz-form changepwd-group">
<!-- 	<div class="control-group clearfix">
		<label class="control-label">当前密码</label>
		<div class="controls">
			<div class="control">
				<input name="curpwd" class="text-input" type="text">
			</div>
		</div>
	</div> -->

	<div class="control-group clearfix">
		<label class="control-label">新密码</label>
		<div class="controls">
			<div class="control">
				<input name="newpwd" class="text-input" type="text">
				<span>（密码不小于6位）</span>
			</div>
		</div>
	</div>

	<div class="control-group clearfix">
		<label class="control-label">已绑定手机</label>
		<div class="controls">
			<div class="control">
				<span style="font-weight: 700;color: #000;">{{phoneMsk|| '--'}}</span>
			</div>
		</div>
	</div>
	<div class="control-group clearfix">
		<label class="control-label">验证码</label>
		<div class="controls">
			<div class="control">
				<input name="phonecode" type="text" class="code-input">
				<div class="code-nums">点击获取验证码</div>
			</div>
			<div class="help-block"></div>
		</div>
	</div>

	<div class="control-group clearfix">
		<div class="controls">
			<div class="control">
				<div class="control-btn">保存</div>
			</div>
		</div>
	</div>
</form>