##if(type == 0){##
<div class="control-group clearfix">
	<label class="control-label">当前邮箱</label>
	<div class="controls">
		<div class="control">
			<span class="col-red">您尚未进行邮箱认证</span>
		</div>
	</div>
</div>

<div class="control-group clearfix">
	<label class="control-label">邮箱地址</label>
	<div class="controls">
		<div class="control">
			<input name="mailbox" class="text-input" type="text">
		</div>
	</div>
</div>

<div class="control-group clearfix">
	<label class="control-label">登录密码</label>
	<div class="controls">
		<div class="control">
			<input name="curpwd" class="text-input" type="password">
		</div>
	</div>
</div>

<div class="control-group clearfix">
	<div class="controls">
		<div class="control">
			<div class="control-btn">保存</div>
		</div>
	</div>
</div>
##}##

##if(type == 1){##
<div class="control-group clearfix">
	<div class="controls">
		<div class="control">
			<span class="col-red">邮箱认证中</span>
		</div>
	</div>
</div>
##}##

##if(type == 2){##
<div class="control-group clearfix mail-success-group">
	<label class="control-label">当前邮箱</label>
	<div class="controls">
		<div class="control">
			<span>b****m@qq.com</span>
			<span class="mail-btn-change">修改</span>
		</div>
	</div>
</div>
<div class="mail-box-controls">
	<div class="control-group clearfix">
		<label class="control-label">邮箱地址</label>
		<div class="controls">
			<div class="control">
				<input name="mailbox" class="text-input" type="text">
			</div>
		</div>
	</div>

	<div class="control-group clearfix">
		<label class="control-label">登录密码</label>
		<div class="controls">
			<div class="control">
				<input name="curpwd" class="text-input" type="password">
			</div>
		</div>
	</div>

	<div class="control-group clearfix">
		<div class="controls">
			<div class="control">
				<div class="control-btn">保存</div>
			</div>
		</div>
	</div>
</div>
##}##