<div class="container me-infocenter">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row info-head-box">
				<div class="loading"></div>
			</div>
		</div>
	</div>
</div>
<div class="container me-items-list">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="left-nav-box">
				<ul>
					<li>
						<a href="#/memain" title=""><span class="meMain">个人主页</span></a>
					</li>
					<li>
						<a href="#/meinfo" title=""><span class="meInfo">个人信息</span></a>
					</li>
					<li>
						<a href="#/mesafeset" title=""><span class="meSafeSet">安全设置</span></a>
					</li>
					<li>
						<a href="#/mecircle" title=""><span class="meCircle">关注的圈子</span></a>
					</li>
					<li>
						<span class="meBuyRecord active">购买记录</span>
					</li>
				</ul>
			</div>
			<div class="right-content-box">
				<div class="me-buyrecord-box">
					<div class="content-group">
						<div class="content-nav-group">
							<ul class="clearfix">
								<li class="active" data-index="2">全部</li>
								<li data-index="1">已支付</li>
								<li data-index="0">未支付</li>
							</ul>
						</div>
						<div class="content-form-group">
							<div class="list-table-head">
								<div class="row">
									<div class="col-lg-6 text-center">项目信息</div>
									<div class="col-lg-2 text-center">实付款(元)</div>
									<div class="col-lg-2 text-center">交易状态</div>
									<div class="col-lg-2 text-center">操作</div>		
								</div>
							</div>
							<div class="list-table-body">
							</div>
							<div class="list-table-page"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>