<div class="control-group clearfix">
	<div class="controls">
		<div class="control">
			<span class="col-blue">身份证认证由NCIIC提供接口</span>
		</div>
	</div>
</div>

##if(type == 1){##
	<div class="control-group">
		<div class="controls">
			<div class="control">
				<span class="col-red">身份认证中</span>
			</div>
		</div>
	</div>
##}##

##if(type == 2){##
	<div class="control-group">
		<div class="controls">
			<div class="control">
				<span class="col-red">已通过身份认证</span>
			</div>
		</div>
	</div>
##}##

##if(type == 3){##
	<div class="control-group">
		<div class="controls">
			<div class="control">
				<span class="col-red">身份认证失败，请重新认证</span>
			</div>
		</div>
	</div>
##}##

##if(type == 0 || type == 3){##
	<div class="control-group clearfix">
		<label class="control-label">姓名</label>
		<div class="controls">
			<div class="control">
				<input name="username" class="text-input" type="text">
			</div>
		</div>
	</div>

	<div class="control-group clearfix">
		<label class="control-label">身份证号</label>
		<div class="controls">
			<div class="control">
				<input name="ids" class="text-input" type="text">
			</div>
		</div>
	</div>

	<div class="control-group clearfix">
		<div class="controls">
			<div class="control">
				<div class="control-btn">保存</div>
			</div>
		</div>
	</div>
##}##