<form class="qmcz-form safe-renzheng">

	<div class="control-group clearfix">
		<label class="control-label">当前邮箱</label>
		<div class="controls">
			<div class="control">
				<span class="col-red">您尚未进行邮箱认证</span>
			</div>
		</div>
	</div>

	<div class="control-group clearfix">
		<label class="control-label">邮箱地址</label>
		<div class="controls">
			<div class="control">
				<input class="text-input" type="text">
			</div>
		</div>
	</div>

	<div class="control-group clearfix">
		<label class="control-label">登录密码</label>
		<div class="controls">
			<div class="control">
				<input class="text-input" type="password">
			</div>
		</div>
	</div>

	<div class="control-group clearfix">
		<div class="controls">
			<div class="control">
				<div class="control-btn">保存</div>
			</div>
		</div>
	</div>
</form>