<div class="container me-infocenter">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row info-head-box">
				<div class="loading"></div>
			</div>
		</div>
	</div>
</div>
<div class="container me-items-list">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="left-nav-box">
				<ul>
					<li>
						<a href="#/memain" title=""><span class="meMain">个人主页</span></a>
					</li>
					<li>
						<a href="#/meinfo" title=""><span class="meInfo">个人信息</span></a>
					</li>
					<li>
						<span class="meSafeSet active">安全设置</span>
					</li>
					<li>
						<a href="#/mecircle" title=""><span class="meCircle">关注的圈子</span></a>
					</li>
					<li>
						<a href="#/mebuyrecord" title=""><span class="meBuyRecord">购买记录</span></a>
					</li>
				</ul>
			</div>
			<div class="right-content-box">
				<div class="me-safeset-box">
					<div class="content-group">
						<div class="content-nav-group">
							<ul class="clearfix">
								<li data-index="0">修改密码</li>
								<li data-index="1">实名认证</li>
								<li data-index="2">邮箱认证</li>
							</ul>
						</div>
						<div class="content-form-group">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>