<div class="container findpwd-container">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<div class="findpwd-box">
				<div class="findpwd-group">
					<div class="title">找回密码</div>	
					<div class="item-group">
						<input type="tel" maxlength="11" class="input-class" placeholder="请输入您的手机号码">
						<div class="input-err-group">您输入的号码有误，请检查！</div>
					</div>

					<div class="item-group">
						<div class="clearfix">
							<input type="text" name="msgcode" class="input-class verify-input" placeholder="输入验证码">
							<div class="verify-callback">点击发送验证码</div>
						</div>
						<div class="input-err-group">请输入6位数字短信验证码！</div>
					</div>

					<div class="item-group" style="display: none;">
						<input type="password" class="input-class" placeholder="请输入新密码">
						<div class="input-err-group">请输入大于6位的密码！</div>
					</div>
					<div class="btn-group findpwd-next-step">下一步</div>
				</div>
				<div class="footer-group">
					<span>新用户？</span>
					<a class="blue" href="#/register">立即注册</a>
				</div>
			</div>
		</div>
	</div>
</div>