<div class="container me-infocenter">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row info-head-box">
				<div class="loading"></div>
			</div>
		</div>
	</div>
</div>
<div class="container me-items-list">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="left-nav-box">
				<ul>
					<li>
						<a href="#/memain" title=""><span class="meMain">个人主页</span></a>
					</li>
					<li>
						<span class="meInfo active">个人信息</span>
					</li>
					<li>
						<a href="#/mesafeset" title=""><span class="meSafeSet">安全设置</span></a>
					</li>
					<li>
						<a href="#/mecircle" title=""><span class="meCircle">关注的圈子</span></a>
					</li>
					<li>
						<a href="#/mebuyrecord" title=""><span class="meBuyRecord">购买记录</span></a>
					</li>
				</ul>
			</div>
			<div class="right-content-box">
				<div class="loading"></div>
			</div>
		</div>
	</div>
</div>