<div class="container sendmail-group">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="mailstatus-box">
				<h1 class="title">
					<a href="#/memain" title="">个人中心</a>
					<span>></span>
					<span>邮箱认证</span>
				</h1>
				<section class="status-sec">
					<p class="line-span">
						<span class="sprite sprite-status"></span>
						<span>认证邮件已发送至您提供的邮箱，请尽快验证。</span>
						<span class="span-active">没收到？<span class="btn-resend">重新发送</span></span>
					</p>
					<p class="line-a">
						<span>一直收不到？<a href="#/mesafeset/2">换个邮箱地址</a></span>
					</p>
				</section>
			</div>
		</div>
	</div>
</div>