<div class="container index-slide-box">
	<div class="row">
		<div class="col-lg-12 slide-img-box">
		</div>
	</div>
</div>
<div class="container index-hotpro-box">
	<div class="row">
		<div class="loading">
			
		</div>
	</div>
</div>
<div class="container index-maintv-box">
	<div class="row">
		<div class="loading">
			
		</div>
	</div>
</div>
<div class="container index-teams-box">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
				<div class="col-lg-12">
					<div class="pro-title">合作单位</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="team-img-box">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>